{% extends "layout.html"%}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}

    <h3>Ham Madde Tanımları</h3>
    <hr>  
    <form method="post">
        {{ render_field(form.raw_name) }}
        {{ render_field(form.comment) }}
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <button type="reset" class="btn btn-secondary">Temizle</button><br><br>
    </form>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ham Madde Kodu</th>
      <th scope="col">Ham Madde Adı</th>
      <th scope="col">Açıklama</th>
      <th scope="col">Ekleme Zamanı</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for raw_material in raw_material  %}
    <tr>
    <th scope="row">{{raw_material.ham_madde_kodu}}</th>
      <td>{{raw_material.ham_madde_adi}}</td>
      <td>{{raw_material.aciklama}}</td>
      <td>{{raw_material.eklenme_zamani}}</td>
      <td><button class = "btn btn-danger" type="button" data-toggle="modal" data-target="#{{raw_material.ham_madde_kodu}}">Sil</a></td>
    

<!-- The Modal -->
    <div class="modal" id={{raw_material.ham_madde_kodu}}>
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body text-center mb-5">
            <h1>Silmek İstediğinize Emin Misiniz?</h1>
            <p>Silmeden Önce Bu Tanımın Kullanılmadığından Emin Olun.{{raw_material.ham_madde_kodu}}</p>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary btn-lg mr-2 rounded-lg" data-dismiss="modal">İptal</button>
              <form action="{{url_for('deleteRaw', id=raw_material.ham_madde_kodu)}}" method="post">
                <input type="submit" value="Sil" class="btn btn-danger" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
    
{% endblock body%}